table{
    width: 100%;
    border: 1px solid black;
}
.center {
    width: 100%;
    text-align: center;
}
.newline{
    display: block;
}
table th {
    border-bottom: 1px solid black;
}
table td {
    border-bottom: 1px solid #ccc;
}

.messages {
}
.message {
    border: 1px solid #000;
    padding: 5px;
     margin: 5px 0;
    border-radius: 4px;
    display: block;
    text-align: left;
}

.error {
    color: #8B0000;
    background-color: #FF0000;
    width: 100%;
    margin: auto;
}
// https://www.w3schools.com/csS/tryit.asp?filename=trycss_forms
// https://www.w3schools.com/csS/css_form.asp

form {
    padding: 0;
    margin: 0;
}
input[type=text], select {
    width: 30%;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #000;
    margin: 1%;
}
input[type=submit] {
    width: 30%;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    background-color: #009900;
    margin: 1%;
}
input[type=submit]:hover {
    background-color: #00ff00;
}
input[type=submit]:disabled {
    background-color: #ccc;
    cursor: default;
}
input[data-is_sending="yes"] {
    cursor: wait !important;
}
